.header{
    background-color: white;  
    display: flex;
    justify-content: space-between; 
    padding: 10px 70px; 
    border: 1px;
    box-shadow: 1px 2px #f5f3f3;
    
}

.img{
    height: 80px;
    width: 80px;
    position: absolute;
   margin-left: 20px;
}


.right-header{
    display: flex;
    
    text-align: center;
   padding: 20px;
   margin-right: 20px;
    
}

.right-header span{
    padding: 5px 20px;
}